// 프리텐다드 (한글)
@font-face {
  font-family: 'Acumin Variable Concept';
  src: url('@/assets/fonts/AcuminVariableConcept-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// 전역 폰트 패밀리 변수 설정
:root {
  --font-primary: 'Acumin Variable Concept', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --font-secondary: Arial, sans-serif;
}